<wm-page data-ng-controller="ProductEditPageController" pagetitle="Product Edit" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-liveform errormessage="" title="Product Info" iconclass="wi wi-edit" defaultmode="Edit" dataset="bind:Variables.PlanningManagerProductData.dataSet" captionalign="left" captionposition="top" name="liveform1" on-success="Variables.goToPage_Products.invoke()"
            formdata="bind:Variables.PlanningManagerProductData.lastRecord">
                <wm-layoutgrid columns="1" name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                            <wm-form-field name="prodCode" displayname="Product Code" required="false" show="true" generator="assigned" primary-key="false" key="prodCode" type="string" is-related="false" maxchars="20" pc-display="true" mobile-display="true"
                            widget="text"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                            <wm-form-field name="name" displayname="Name" required="false" show="true" generator="assigned" primary-key="false" key="name" type="string" is-related="false" maxchars="100" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                            <wm-form-field name="unitMeas" displayname="Unit of Measurement" required="false" show="true" generator="assigned" primary-key="false" key="unitMeas" type="string" is-related="false" maxchars="20" pc-display="true" mobile-display="true"
                            widget="text"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                            <wm-form-field name="program" displayname="Program" required="false" show="true" generator="assigned" primary-key="false" key="program" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select" dataset="bind:Variables.ProgramId.dataSet"
                            datafield="All Fields" displayfield="name" defaultvalue="bind:Variables.Programs.firstRecord"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn5"></wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-form-field name="prodId" displayname="Prod Id" required="true" show="false" generator="identity" primary-key="true" key="prodId" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                <wm-form-action key="reset" class="form-reset btn-secondary" iconclass="wi wi-refresh" action="reset()" display-name="Reset" show="true" type="button" update-mode="true"></wm-form-action>
                <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
            </wm-liveform>
        </wm-page-content>
    </wm-content>
</wm-page>