<wm-page data-ng-controller="BusinessCalendarPageController" pagetitle="Business Calendar" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-composite name="composite1">
                <wm-label class="col-md-3 control-label" name="label1"></wm-label>
                <wm-container class="col-md-9" name="container1">
                    <wm-date name="date1"></wm-date>
                </wm-container>
            </wm-composite>
            <wm-composite name="composite2">
                <wm-label class="col-md-3 control-label" name="label2"></wm-label>
                <wm-container class="col-md-9" name="container2">
                    <wm-datetime name="datetime1"></wm-datetime>
                </wm-container>
            </wm-composite>
        </wm-page-content>
    </wm-content>
</wm-page>