<wm-partial data-ng-controller="topnavPageController" name="topnav" type="topnav">
    <wm-navbar name="navbar1">
        <wm-nav name="leftTopLinks" type="navbar" class="navbar-left">
            <wm-nav-item name="list_home">
                <wm-anchor caption="Home" name="homeLink" iconclass="wi wi-home" on-click="Variables.goToPage_Main.invoke()"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_services">
                <wm-menu caption="Daily Scheduling" autoclose="outsideClick" name="menu3" iconclass="wi wi-file" margin="unset unset unset 10px" dataset="bind:Variables.svDailySchedMenu.dataSet"></wm-menu>
            </wm-nav-item>
            <wm-nav-item name="nav_item5"></wm-nav-item>
            <wm-nav-item name="nav_item6">
                <wm-anchor name="anchor6" iconclass="wi wi-file" caption="Schedules" on-click="Variables.goToPage_ScheduleLines.invoke()"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="nav_item19">
                <wm-menu caption="Setup" autoclose="outsideClick" name="menu2" iconclass="wi wi-file" dataset="bind:Variables.svSetupMenu.dataSet" on-select="menu2Select($event, $scope, $item)" itemlabel="label" itemlink="link" itemicon="icon"></wm-menu>
            </wm-nav-item>
        </wm-nav>
        <wm-nav name="rightTopLinks" type="navbar" class="navbar-right">
            <wm-nav-item name="list_help">
                <wm-anchor caption="Help" name="helpLink" iconclass="wi wi-help-outline"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_logout">
                <wm-anchor caption="Logout" name="logoutLink" iconclass="wi wi-sign-out" on-click="Variables.logoutVariable.invoke()"></wm-anchor>
            </wm-nav-item>
        </wm-nav>
    </wm-navbar>
</wm-partial>