<wm-page data-ng-controller="ProductionOrderNewPageController" pagetitle="Production Order New" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-liveform errormessage="" title="Production order Info" iconclass="wi wi-edit" defaultmode="Edit" dataset="bind:Variables.PlanningManagerProductionOrderData.dataSet" captionalign="left" captionposition="top" name="liveform1" on-success="Variables.goToPage_ProductionOrders.invoke()">
                <wm-layoutgrid columns="2" name="layoutgrid1">
                    <wm-gridrow name="gridrow14">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn27">
                            <wm-label padding="unset 0.5em" name="label1" caption="Order Control" fontsize="-1" fontunit="px" class="h4"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn1">
                            <wm-form-field name="ordrCode" displayname="Order Code" show="true" primary-key="false" generator="assigned" key="ordrCode" type="string" readonly="false" required="false" widget="text" maxchars="10" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn2">
                            <wm-form-field name="product" displayname="Product" show="true" primary-key="false" generator="assigned" key="product" type="list" is-related="true" readonly="false" required="false" widget="select" placeholder="Select value" dataset="bind:Variables.ProductID.dataSet"
                            datafield="All Fields" displayfield="prodCode"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn3">
                            <wm-form-field name="ordrQuan" displayname="Order Quantity" show="true" primary-key="false" generator="assigned" key="ordrQuan" type="double" readonly="false" required="false" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn4">
                            <wm-form-field displayname="Order Status" widget="select" show="true" primary-key="false" type="custom" key="orderStatus" generator="assigned" name="orderStatus" dataset="bind:Variables.OrderStatus.dataSet" datafield="dataValue" displayfield="dataValue"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow12">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn23">
                            <wm-form-field name="employee" displayname="Planner" show="true" primary-key="false" generator="assigned" key="employee" type="list" is-related="true" readonly="false" required="false" widget="select" placeholder="Select value" dataset="bind:Variables.PlannerID.dataSet"
                            datafield="All Fields" displayfield="userName"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn24">
                            <wm-form-field name="program" displayname="Program" show="true" primary-key="false" generator="assigned" key="program" type="list" is-related="true" readonly="false" required="false" widget="select" placeholder="Select value" dataset="bind:Variables.ProgramID.dataSet"
                            datafield="All Fields"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow13">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn25">
                            <wm-form-field name="serial" displayname="Serial" show="true" primary-key="false" generator="assigned" key="serial" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn26">
                            <wm-form-field name="priorities" displayname="Priorities" show="true" primary-key="false" generator="assigned" key="priorities" type="list" is-related="true" readonly="false" required="false" widget="select" placeholder="Select value" dataset="bind:Variables.PriorityID.dataSet"
                            datafield="All Fields" displayfield="prioName"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow15">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn29">
                            <wm-form-field name="ncNumb" displayname="NC Number" show="true" primary-key="false" generator="assigned" key="ncNumb" type="string" readonly="false" required="false" widget="text" maxchars="20" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn5">
                            <wm-label padding="unset 0.5em" name="label2" class="h4" caption="Order Scheduling"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn7">
                            <wm-form-field name="plStart" displayname="Planned Start" show="true" primary-key="false" generator="assigned" key="plStart" type="datetime" readonly="false" required="false" widget="datetime" placeholder="Select date time" outputformat="yyyy-MM-ddTHH:mm:ss"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn8">
                            <wm-form-field name="execStart" displayname="Execution Start" show="true" primary-key="false" generator="assigned" key="execStart" type="datetime" readonly="false" required="false" widget="datetime" placeholder="Select date time" outputformat="yyyy-MM-ddTHH:mm:ss"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn9">
                            <wm-form-field name="plStartMrp" displayname="Planned Start MRP" show="true" primary-key="false" generator="assigned" key="plStartMrp" type="date" readonly="false" required="false" widget="date" placeholder="Select date" outputformat="yyyy-MM-dd"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn10">
                            <wm-form-field name="execEnd" displayname="Execution End" show="true" primary-key="false" generator="assigned" key="execEnd" type="datetime" readonly="false" required="false" widget="datetime" placeholder="Select date time" outputformat="yyyy-MM-ddTHH:mm:ss"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn11">
                            <wm-form-field name="plEnd" displayname="Planned End" show="true" primary-key="false" generator="assigned" key="plEnd" type="datetime" readonly="false" required="false" widget="datetime" placeholder="Select date time" outputformat="yyyy-MM-ddTHH:mm:ss"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                <wm-form-action key="reset" display-name="Reset" show="true" class="form-reset btn-secondary" iconclass="wi wi-refresh" title="Reset" action="reset()" disabled="false" type="button" update-mode="true"></wm-form-action>
                <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
            </wm-liveform>
        </wm-page-content>
    </wm-content>
</wm-page>