<wm-partial data-ng-controller="leftnavPageController" name="leftnav" type="leftnav">
    <wm-nav name="leftnavigation" type="pills" layout="stacked" show="true" autoclose="outsideClick">
        <wm-nav-item name="list_dashboard">
            <wm-anchor caption="Planned Orders" name="dashboardLink" iconclass="wi wi-bar-graph"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_order">
            <wm-anchor caption="Released Orders" name="orderLink" iconclass="wi wi-file"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_inventory">
            <wm-anchor caption="Completed Orders" name="inventoryLink" iconclass="wi wi-tag"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_support"></wm-nav-item>
        <wm-nav-item name="nav_item5"></wm-nav-item>
    </wm-nav>
</wm-partial>