<wm-page data-ng-controller="ProductsTestPageController" pagetitle="Products Test" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-livegrid formlayout="dialog" name="livegrid1">
                <wm-grid gridfirstrowselect="true" editmode="dialog" title="Product List" dataset="bind:Variables.PlanningManagerProductData.dataSet" navigation="Basic" name="grid1">
                    <wm-grid-column binding="prodId" caption="Prod Id" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true" readonly="true"></wm-grid-column>
                    <wm-grid-column binding="name" caption="Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                    <wm-grid-column binding="unitMeas" caption="Unit Meas" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                    <wm-grid-column binding="prodCode" caption="Prod Code" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                    <wm-grid-column binding="program.name" caption="Program Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" related-entity-name="Program" readonly="true"></wm-grid-column>
                    <wm-grid-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-grid-action>
                    <wm-grid-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-grid-row-action>
                    <wm-grid-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-grid-row-action>
                </wm-grid>
                <wm-liveform errormessage="" title="Product Info" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Variables.PlanningManagerProductData.dataSet" captionalign="left" captionposition="top" name="liveform1">
                    <wm-layoutgrid columns="1" name="layoutgrid1">
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                                <wm-form-field name="name" displayname="Name" show="true" primary-key="false" generator="assigned" key="name" type="string" readonly="false" required="false" widget="text" maxchars="100" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow2">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                                <wm-form-field name="unitMeas" displayname="Unit Meas" show="true" primary-key="false" generator="assigned" key="unitMeas" type="string" readonly="false" required="false" widget="text" maxchars="20" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow3">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                                <wm-form-field name="prodCode" displayname="Prod Code" show="true" primary-key="false" generator="assigned" key="prodCode" type="string" readonly="false" required="false" widget="text" maxchars="20" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow4">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                                <wm-form-field name="program" displayname="Program" show="true" primary-key="false" generator="assigned" key="program" type="list" is-related="true" readonly="false" required="false" widget="select" placeholder="Select value"
                                displayexpression="name"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-field name="prodId" displayname="Prod Id" show="false" primary-key="true" generator="identity" key="prodId" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                    <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" disabled="false" type="button" update-mode="true"></wm-form-action>
                    <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livegrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>