<wm-page data-ng-controller="ScheduleTemplatesNewPageController" pagetitle="Schedule Templates New" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-liveform errormessage="" title="Schedule template Info" iconclass="wi wi-edit" defaultmode="Edit" dataset="bind:Variables.PlanningManagerScheduleTemplateData.dataSet" captionalign="left" captionposition="top" name="liveform1" on-success="Variables.goToPage_ScheduleTemplates.invoke()">
                <wm-layoutgrid name="layoutgrid2">
                    <wm-gridrow name="gridrow5_1">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn5_1">
                            <wm-form-field name="name" displayname="Name" show="true" primary-key="false" generator="assigned" key="name" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn6_1">
                            <wm-form-field name="program" displayname="Program" show="true" primary-key="false" generator="assigned" key="program" type="list" is-related="true" readonly="false" required="false" widget="select" dataset="bind:Variables.ProgramId.dataSet"
                            datafield="All Fields" displayfield="name" defaultvalue="bind:Variables.Programs.firstRecord" placeholder="Select value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6_1">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn7">
                            <wm-form-field name="employee" displayname="Planner" show="true" primary-key="false" generator="assigned" key="employee" type="list" is-related="true" readonly="false" required="false" widget="select" dataset="bind:Variables.EmployeeId.dataSet"
                            defaultvalue="bind:Variables.Employees.firstRecord" datafield="All Fields" displayfield="lastName" placeholder="Select value"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn8">
                            <wm-form-field name="wrkDays" displayname="Number of Working Days" show="true" primary-key="false" generator="assigned" key="wrkDays" type="integer" readonly="false" required="false" step="0" widget="number" inputtype="number"
                            placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow12">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn19">
                            <wm-label padding="unset 0.5em" name="label1" caption="Parameters" class="h3"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn20"></wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow7">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn9">
                            <wm-label padding="unset 0.5em" name="label2" caption="Job 1" class="h4"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn10">
                            <wm-label padding="unset 0.5em" name="label3" caption="Job 2" class="h4"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow8">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn11">
                            <wm-form-field name="jobTypeByJobTp2Id" displayname="Job Type 1" show="true" primary-key="false" generator="assigned" key="jobTypeByJobTp2Id" type="list" is-related="true" readonly="false" required="false" widget="select"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn12">
                            <wm-form-field name="jobTypeByJobTp1Id" displayname="Job Type 2" show="true" primary-key="false" generator="assigned" key="jobTypeByJobTp1Id" type="list" is-related="true" readonly="false" required="false" widget="select"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow9">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn13">
                            <wm-form-field name="tp1Sched" displayname="Scheduling" show="true" primary-key="false" generator="assigned" key="tp1Sched" type="boolean" readonly="false" required="false" widget="checkbox"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn14">
                            <wm-form-field name="tp2Sched" displayname="Scheduling" show="true" primary-key="false" generator="assigned" key="tp2Sched" type="boolean" readonly="false" required="false" mobile-display="false" widget="checkbox"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow10">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn15">
                            <wm-form-field name="tp1Cap" displayname="Capacity Check" show="true" primary-key="false" generator="assigned" key="tp1Cap" type="boolean" readonly="false" required="false" widget="checkbox"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn16">
                            <wm-form-field name="tp2Cap" displayname="Cpacity Check" show="true" primary-key="false" generator="assigned" key="tp2Cap" type="boolean" readonly="false" required="false" widget="checkbox"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow11">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn17"></wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn18"></wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-layoutgrid columns="1" name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn1"></wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn2"></wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn3"></wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn4"></wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn name="gridcolumn1" columnwidth="12"></wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn name="gridcolumn2" columnwidth="12"></wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn name="gridcolumn3" columnwidth="12"></wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn name="gridcolumn4" columnwidth="12"></wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn name="gridcolumn5" columnwidth="12"></wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn name="gridcolumn6" columnwidth="12"></wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                <wm-form-action key="reset" display-name="Reset" show="true" class="form-reset btn-secondary" iconclass="wi wi-refresh" title="Reset" action="reset()" disabled="false" type="button" update-mode="true"></wm-form-action>
                <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
            </wm-liveform>
        </wm-page-content>
    </wm-content>
</wm-page>