<wm-page data-ng-controller="ResourcesPageController" pagetitle="Resources" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-tabs name="tabs1">
                <wm-tabpane name="tabpane1" title="Employees">
                    <wm-livegrid formlayout="dialog" name="livegrid1">
                        <wm-grid gridfirstrowselect="true" editmode="dialog" title="Employee List" dataset="bind:Variables.PlanningManagerEmployeeData2.dataSet" navigation="Basic" name="grid6">
                            <wm-grid-column binding="firstName" caption="First Name" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="lastName" caption="Last Name" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="emplNumb" caption="Employee Number" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="userId" caption="User Id" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="userName" caption="User Name" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="userRole" caption="User Role" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="department.name" caption="Department" type="string" generator="assigned" readonly="true" edit-widget-type="text" show="true" related-entity-name="Department"></wm-grid-column>
                            <wm-grid-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                            <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-grid-action>
                            <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-grid-row-action>
                            <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-grid-row-action>
                        </wm-grid>
                        <wm-liveform errormessage="" title="Employee Info" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Variables.PlanningManagerEmployeeData2.dataSet" captionalign="left" captionposition="top" name="liveform1">
                            <wm-layoutgrid columns="1" name="layoutgrid1">
                                <wm-gridrow name="gridrow1">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                                        <wm-form-field name="firstName" displayname="First Name" show="true" primary-key="false" generator="assigned" key="firstName" type="string" readonly="false" required="false" widget="text" maxchars="50" inputtype="text"
                                        placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow2">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                                        <wm-form-field name="lastName" displayname="Last Name" show="true" primary-key="false" generator="assigned" key="lastName" type="string" readonly="false" required="false" widget="text" maxchars="100" inputtype="text"
                                        placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow3">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                                        <wm-form-field name="emplNumb" displayname="Employee Number" show="true" primary-key="false" generator="assigned" key="emplNumb" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text"
                                        placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow4">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                                        <wm-form-field name="userId" displayname="User Id" show="true" primary-key="false" generator="assigned" key="userId" type="string" readonly="false" required="false" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow5">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                                        <wm-form-field name="userName" displayname="User Name" show="true" primary-key="false" generator="assigned" key="userName" type="string" readonly="false" required="false" widget="text" maxchars="100" inputtype="text"
                                        placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow6">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn6">
                                        <wm-form-field name="userRole" displayname="User Role" show="true" primary-key="false" generator="assigned" key="userRole" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text"
                                        placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow7">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                                        <wm-form-field name="department" displayname="Department" show="true" primary-key="false" generator="assigned" key="department" type="list" is-related="true" readonly="false" required="false" widget="select" placeholder="Select value"
                                        displayexpression="name" orderby="name:desc"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" disabled="false" type="button" update-mode="true"></wm-form-action>
                            <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
                        </wm-liveform>
                    </wm-livegrid>
                </wm-tabpane>
                <wm-tabpane name="tabpane4" title="Machine Types">
                    <wm-grid editmode="inline" title="Machine type List" dataset="bind:Variables.PlanningManagerMachineTypeData.dataSet" navigation="Basic" name="grid4">
                        <wm-grid-column binding="name" caption="Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                        <wm-grid-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-grid-action>
                        <wm-grid-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-grid-row-action>
                        <wm-grid-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-grid-row-action>
                    </wm-grid>
                </wm-tabpane>
                <wm-tabpane name="tabpane2" title="Machines">
                    <wm-livegrid formlayout="dialog" name="livegrid3">
                        <wm-grid gridfirstrowselect="true" editmode="dialog" title="Machine List" dataset="bind:Variables.PlanningManagerMachineData.dataSet" navigation="Basic" name="grid8">
                            <wm-grid-column binding="name" caption="Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                            <wm-grid-column binding="machineType.name" caption="Machine Type" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" related-entity-name="MachineType" readonly="true"></wm-grid-column>
                            <wm-grid-column binding="department.name" caption="Department Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" related-entity-name="Department" readonly="true"></wm-grid-column>
                            <wm-grid-column binding="department.code" caption="Department Code" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" related-entity-name="Department" readonly="true"></wm-grid-column>
                            <wm-grid-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-grid-action>
                            <wm-grid-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-grid-row-action>
                            <wm-grid-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-grid-row-action>
                        </wm-grid>
                        <wm-liveform errormessage="" title="Machine Info" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Variables.PlanningManagerMachineData.dataSet" captionalign="left" captionposition="top" name="liveform3">
                            <wm-layoutgrid columns="1" name="layoutgrid3">
                                <wm-gridrow name="gridrow12">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn12">
                                        <wm-form-field name="name" displayname="Name" show="true" primary-key="false" generator="assigned" key="name" type="string" readonly="false" required="false" widget="text" maxchars="100" inputtype="text" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow13">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn13">
                                        <wm-form-field name="machineType" displayname="Machine Type" show="true" primary-key="false" generator="assigned" key="machineType" type="list" is-related="true" readonly="false" required="false" widget="select" placeholder="Select value"
                                        displayexpression="name" orderby="name:desc"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow14">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn14">
                                        <wm-form-field name="department" displayname="Department" show="true" primary-key="false" generator="assigned" key="department" type="list" is-related="true" readonly="false" required="false" widget="select" placeholder="Select value"
                                        displayexpression="name" orderby="name:desc"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" disabled="false" type="button" update-mode="true"></wm-form-action>
                            <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
                        </wm-liveform>
                    </wm-livegrid>
                </wm-tabpane>
                <wm-tabpane name="tabpane5" title="Equipment Types">
                    <wm-grid editmode="inline" title="Equipment type List" dataset="bind:Variables.PlanningManagerEquipmentTypeData1.dataSet" navigation="Basic" name="grid4_3">
                        <wm-grid-column binding="name" caption="Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                        <wm-grid-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-grid-action>
                        <wm-grid-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-grid-row-action>
                        <wm-grid-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-grid-row-action>
                    </wm-grid>
                </wm-tabpane>
                <wm-tabpane name="tabpane3" title="Equipment">
                    <wm-livegrid formlayout="dialog" name="livegrid4">
                        <wm-grid gridfirstrowselect="true" editmode="dialog" title="Equipment List" dataset="bind:Variables.PlanningManagerEquipmentData.dataSet" navigation="Basic" name="grid9">
                            <wm-grid-column binding="name" caption="Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                            <wm-grid-column binding="equipmentType.name" caption="Equipment Type" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" related-entity-name="EquipmentType" readonly="true"></wm-grid-column>
                            <wm-grid-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-grid-action>
                            <wm-grid-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-grid-row-action>
                            <wm-grid-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-grid-row-action>
                        </wm-grid>
                        <wm-liveform errormessage="" title="Equipment Info" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Variables.PlanningManagerEquipmentData.dataSet" captionalign="left" captionposition="top" name="liveform4">
                            <wm-layoutgrid columns="1" name="layoutgrid4">
                                <wm-gridrow name="gridrow15">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn15">
                                        <wm-form-field name="name" displayname="Name" show="true" primary-key="false" generator="assigned" key="name" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow16">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn16">
                                        <wm-form-field name="equipmentType" displayname="Equipment Type" show="true" primary-key="false" generator="assigned" key="equipmentType" type="list" is-related="true" readonly="false" required="false" widget="select"
                                        placeholder="Select value" displayexpression="name" orderby="name:desc"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" disabled="false" type="button" update-mode="true"></wm-form-action>
                            <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
                        </wm-liveform>
                    </wm-livegrid>
                </wm-tabpane>
            </wm-tabs>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>