<wm-page data-ng-controller="EquipmentDetailsPageController" pagetitle="Equipment Details" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-liveform errormessage="" title="Equipment Info" iconclass="wi wi-edit" defaultmode="Edit" dataset="bind:Variables.PlanningManagerEquipmentData.dataSet" captionalign="left" captionposition="top" name="liveform1" formdata="bind:Variables.PlanningManagerEquipmentData.lastRecord"
            on-success="Variables.goToPage_Resources.invoke()">
                <wm-layoutgrid columns="1" name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                            <wm-form-field name="name" displayname="Name" show="true" primary-key="false" generator="assigned" key="name" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                            <wm-form-field name="equipmentType" displayname="Equipment Type" show="true" primary-key="false" generator="assigned" key="equipmentType" type="list" is-related="true" readonly="false" required="false" widget="select" placeholder="Select value"
                            dataset="bind:Variables.EquipmentTypeID.dataSet" datafield="All Fields" displayfield="name" defaultvalue="bind:Variables.EquipmentTypes.firstRecord"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                <wm-form-action key="reset" display-name="Reset" show="true" class="form-reset btn-secondary" iconclass="wi wi-refresh" title="Reset" action="reset()" disabled="false" type="button" update-mode="true"></wm-form-action>
                <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" action="Variables.goToPage_Resources.invoke()" disabled="false" type="submit" update-mode="true"></wm-form-action>
            </wm-liveform>
        </wm-page-content>
    </wm-content>
</wm-page>