<wm-page data-ng-controller="JobOrdersPageController" pagetitle="Job Orders" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-livegrid formlayout="dialog" name="livegrid1">
                <wm-grid gridfirstrowselect="true" editmode="dialog" title="Job order List" dataset="bind:Variables.PlanningManagerJobOrderData.dataSet" navigation="Basic" name="grid1">
                    <wm-grid-column binding="jobNo" caption="Job Code" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer"></wm-grid-column>
                    <wm-grid-column binding="name" caption="Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                    <wm-grid-column binding="jobStat" caption="Job Status" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                    <wm-grid-column binding="plStart" caption="Planned Start" generator="assigned" pcdisplay="true" mobiledisplay="true" type="date"></wm-grid-column>
                    <wm-grid-column binding="plEnd" caption="Planned End" generator="assigned" pcdisplay="true" mobiledisplay="true" type="date"></wm-grid-column>
                    <wm-grid-column binding="execStart" caption="Execution Start" generator="assigned" pcdisplay="true" mobiledisplay="true" type="datetime"></wm-grid-column>
                    <wm-grid-column binding="execEnd" caption="Execution End" generator="assigned" pcdisplay="true" mobiledisplay="true" type="datetime"></wm-grid-column>
                    <wm-grid-column binding="ordrCode" caption="Production Order" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                    <wm-grid-column binding="jobType.name" caption="Job Type" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" related-entity-name="JobType" readonly="true"></wm-grid-column>
                    <wm-grid-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-grid-action>
                    <wm-grid-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-grid-row-action>
                    <wm-grid-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-grid-row-action>
                </wm-grid>
                <wm-liveform errormessage="" title="Job order Info" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Variables.PlanningManagerJobOrderData.dataSet" captionalign="left" captionposition="top" name="liveform1">
                    <wm-layoutgrid columns="2" name="layoutgrid1">
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn1">
                                <wm-form-field name="jobNo" displayname="Job No" required="false" show="true" generator="assigned" primary-key="false" key="jobNo" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn2">
                                <wm-form-field name="name" displayname="Name" required="false" show="true" generator="assigned" primary-key="false" key="name" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow2">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn3">
                                <wm-form-field name="jobStat" displayname="Job Stat" required="false" show="true" generator="assigned" primary-key="false" key="jobStat" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true"
                                widget="text"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn4">
                                <wm-form-field name="plStart" displayname="Pl Start" required="false" show="true" generator="assigned" primary-key="false" key="plStart" type="date" is-related="false" pc-display="true" mobile-display="true" widget="date"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow3">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn5">
                                <wm-form-field name="plEnd" displayname="Pl End" required="false" show="true" generator="assigned" primary-key="false" key="plEnd" type="date" is-related="false" pc-display="true" mobile-display="true" widget="date"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn6">
                                <wm-form-field name="execStart" displayname="Exec Start" required="false" show="true" generator="assigned" primary-key="false" key="execStart" type="datetime" is-related="false" pc-display="true" mobile-display="true" widget="datetime"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow4">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn7">
                                <wm-form-field name="execEnd" displayname="Exec End" required="false" show="true" generator="assigned" primary-key="false" key="execEnd" type="datetime" is-related="false" pc-display="true" mobile-display="true" widget="datetime"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn8">
                                <wm-form-field name="ordrCode" displayname="Ordr Code" required="false" show="true" generator="assigned" primary-key="false" key="ordrCode" type="string" is-related="false" maxchars="10" pc-display="true" mobile-display="true"
                                widget="text"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow5">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn9">
                                <wm-form-field name="jobType" displayname="Job Type" required="false" show="true" generator="assigned" primary-key="false" key="jobType" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn10">
                                <wm-form-field name="productionOrder" displayname="Production Order" required="false" show="true" generator="assigned" primary-key="false" key="productionOrder" type="list" is-related="true" pc-display="true" mobile-display="true"
                                widget="select"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow6">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn11">
                                <wm-form-field name="department" displayname="Department" required="false" show="true" generator="assigned" primary-key="false" key="department" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn12">
                                <wm-form-field name="priorities" displayname="Priorities" required="false" show="true" generator="assigned" primary-key="false" key="priorities" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow7">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn13">
                                <wm-form-field name="cluster" displayname="Cluster" required="false" show="true" generator="assigned" primary-key="false" key="cluster" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn14"></wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-field name="id" displayname="Id" required="true" show="false" generator="identity" primary-key="true" key="id" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                    <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                    <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livegrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>