<wm-page data-ng-controller="ProductionOrdersPageController" pagetitle="Production Orders" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1" animation="slide-over"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-grid editmode="inline" title="Open Orders" dataset="bind:Variables.PlanningManagerProductionOrderData.dataSet" navigation="Basic" name="grid1">
                <wm-grid-column binding="program.name" caption="Program" type="string" generator="assigned" readonly="true" edit-widget-type="text" show="true" related-entity-name="Program"></wm-grid-column>
                <wm-grid-column binding="ordrCode" caption="Order" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="ordrQuan" caption="Order Quantity" type="double" generator="assigned" edit-widget-type="number" show="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="product.prodCode" caption="Product Code" type="string" primary-key="false" generator="assigned" readonly="true" edit-widget-type="text" show="true" related-entity-name="Product"></wm-grid-column>
                <wm-grid-column binding="product.name" caption="Product Name" type="string" generator="assigned" readonly="true" edit-widget-type="text" show="true" related-entity-name="Product"></wm-grid-column>
                <wm-grid-column binding="plStart" caption="Planned Start" type="datetime" generator="assigned" edit-widget-type="datetime" show="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="execEnd" caption="Execution End" type="datetime" generator="assigned" edit-widget-type="datetime" show="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="execStart" caption="Execution Start" type="datetime" generator="assigned" edit-widget-type="datetime" show="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="plEnd" caption="Planned End" type="datetime" generator="assigned" edit-widget-type="datetime" show="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="ordrStat" caption="Status" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="ncNumb" caption="NC Number" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="priorities.prioName" caption="Prio Name" type="string" generator="assigned" readonly="true" edit-widget-type="text" show="true" related-entity-name="Priorities"></wm-grid-column>
                <wm-grid-column binding="employee.userName" caption="User Name" type="string" generator="assigned" readonly="true" edit-widget-type="text" show="true" related-entity-name="Employee"></wm-grid-column>
                <wm-grid-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="Variables.goToPage_ProductionOrderNew.invoke()" shortcutkey="" disabled="false"></wm-grid-action>
                <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-grid-row-action>
                <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-grid-row-action>
            </wm-grid>
            <wm-livegrid formlayout="dialog" name="livegrid1">
                <wm-grid gridfirstrowselect="true" editmode="dialog" title="Production order List" dataset="bind:Variables.PlanningManagerProductionOrderData.dataSet" navigation="Basic" name="grid2">
                    <wm-grid-column binding="id" caption="Id" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true" readonly="true"></wm-grid-column>
                    <wm-grid-column binding="ordrQuan" caption="Ordr Quan" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double"></wm-grid-column>
                    <wm-grid-column binding="plStart" caption="Pl Start" generator="assigned" pcdisplay="true" mobiledisplay="true" type="datetime"></wm-grid-column>
                    <wm-grid-column binding="plStartMrp" caption="Pl Start Mrp" generator="assigned" pcdisplay="true" mobiledisplay="true" type="date"></wm-grid-column>
                    <wm-grid-column binding="ordrStat" caption="Ordr Stat" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                    <wm-grid-column binding="serial" caption="Serial" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                    <wm-grid-column binding="ordrCode" caption="Ordr Code" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                    <wm-grid-column binding="execStart" caption="Exec Start" generator="assigned" pcdisplay="true" mobiledisplay="true" type="datetime"></wm-grid-column>
                    <wm-grid-column binding="execEnd" caption="Exec End" generator="assigned" pcdisplay="true" mobiledisplay="true" type="datetime"></wm-grid-column>
                    <wm-grid-column binding="ncNumb" caption="Nc Numb" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                    <wm-grid-column binding="employee.userName" caption="User Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" related-entity-name="Employee" readonly="true"></wm-grid-column>
                    <wm-grid-column binding="program.name" caption="Program Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" related-entity-name="Program" readonly="true"></wm-grid-column>
                    <wm-grid-column binding="product.name" caption="Product Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" related-entity-name="Product" readonly="true"></wm-grid-column>
                    <wm-grid-column binding="priorities.prioName" caption="Prio Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" related-entity-name="Priorities" readonly="true"></wm-grid-column>
                    <wm-grid-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-grid-action>
                    <wm-grid-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-grid-row-action>
                    <wm-grid-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-grid-row-action>
                </wm-grid>
                <wm-liveform errormessage="" title="Production order Info" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Variables.PlanningManagerProductionOrderData.dataSet" captionalign="left" captionposition="top" name="liveform1">
                    <wm-layoutgrid columns="3" name="layoutgrid1">
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn columnwidth="4" name="gridcolumn1">
                                <wm-form-field name="ordrQuan" displayname="Ordr Quan" required="false" show="true" generator="assigned" primary-key="false" key="ordrQuan" type="double" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn2">
                                <wm-form-field name="plStart" displayname="Pl Start" required="false" show="true" generator="assigned" primary-key="false" key="plStart" type="datetime" is-related="false" pc-display="true" mobile-display="true" widget="datetime"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn3">
                                <wm-form-field name="plStartMrp" displayname="Pl Start Mrp" required="false" show="true" generator="assigned" primary-key="false" key="plStartMrp" type="date" is-related="false" pc-display="true" mobile-display="true" widget="date"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow2">
                            <wm-gridcolumn columnwidth="4" name="gridcolumn4">
                                <wm-form-field name="ordrStat" displayname="Ordr Stat" required="false" show="true" generator="assigned" primary-key="false" key="ordrStat" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true"
                                widget="text"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn5">
                                <wm-form-field name="serial" displayname="Serial" required="false" show="true" generator="assigned" primary-key="false" key="serial" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn6">
                                <wm-form-field name="ordrCode" displayname="Ordr Code" required="false" show="true" generator="assigned" primary-key="false" key="ordrCode" type="string" is-related="false" maxchars="10" pc-display="true" mobile-display="true"
                                widget="text"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow3">
                            <wm-gridcolumn columnwidth="4" name="gridcolumn7">
                                <wm-form-field name="execStart" displayname="Exec Start" required="false" show="true" generator="assigned" primary-key="false" key="execStart" type="datetime" is-related="false" pc-display="true" mobile-display="true" widget="datetime"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn8">
                                <wm-form-field name="execEnd" displayname="Exec End" required="false" show="true" generator="assigned" primary-key="false" key="execEnd" type="datetime" is-related="false" pc-display="true" mobile-display="true" widget="datetime"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn9">
                                <wm-form-field name="ncNumb" displayname="Nc Numb" required="false" show="true" generator="assigned" primary-key="false" key="ncNumb" type="string" is-related="false" maxchars="20" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow4">
                            <wm-gridcolumn columnwidth="4" name="gridcolumn10">
                                <wm-form-field name="plEnd" displayname="Pl End" required="false" show="true" generator="assigned" primary-key="false" key="plEnd" type="datetime" is-related="false" pc-display="true" mobile-display="true" widget="datetime"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn11">
                                <wm-form-field name="employee" displayname="Employee" required="false" show="true" generator="assigned" primary-key="false" key="employee" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn12">
                                <wm-form-field name="program" displayname="Program" required="false" show="true" generator="assigned" primary-key="false" key="program" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow5">
                            <wm-gridcolumn columnwidth="4" name="gridcolumn13">
                                <wm-form-field name="product" displayname="Product" required="false" show="true" generator="assigned" primary-key="false" key="product" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn14">
                                <wm-form-field name="priorities" displayname="Priorities" required="false" show="true" generator="assigned" primary-key="false" key="priorities" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn15"></wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-field name="id" displayname="Id" required="true" show="false" generator="identity" primary-key="true" key="id" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                    <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                    <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livegrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>