<wm-partial data-ng-controller="headerPageController" name="header" type="header">
    <wm-layoutgrid name="headerlayout">
        <wm-gridrow name="headerrow">
            <wm-gridcolumn name="headerleft" verticalalign="middle" columnwidth="7">
                <wm-picture picturesource="resources/images/imagelists/Fokker_GKN_logo.jpeg" name="AppLogo" margin="unset unset unset 5px" width="50" height="50"></wm-picture>
                <wm-label caption="Planning Manager" class="application-name" name="AppName" fontsize="20" padding="unset unset unset 50px"></wm-label>
            </wm-gridcolumn>
            <wm-gridcolumn name="headerright" horizontalalign="right" verticalalign="middle" columnwidth="5" padding="1em 1em unset unset">
                <wm-search name="siteSearch" dataset="Home, Services, Products, About US, Contact"></wm-search>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>