<wm-page data-ng-controller="EquipmentDetailsNewPageController" pagetitle="Equipment Details New" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-liveform errormessage="" title="Equipment Info" iconclass="wi wi-edit" defaultmode="Edit" dataset="bind:Variables.PlanningManagerEquipmentData.dataSet" captionalign="left" captionposition="top" name="liveform1" on-success="Variables.goToPage_Resources.invoke()">
                <wm-layoutgrid columns="1" name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                            <wm-form-field name="name" displayname="Name" required="false" show="true" generator="assigned" primary-key="false" key="name" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                            <wm-form-field name="equipmentType" displayname="Equipment Type" required="false" show="true" generator="assigned" primary-key="false" key="equipmentType" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"
                            dataset="bind:Variables.EquipmentTypeID.dataSet" defaultvalue="bind:Variables.EquipmentTypes.firstRecord" datafield="All Fields" displayfield="name"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-form-field name="id" displayname="Id" required="true" show="false" generator="identity" primary-key="true" key="id" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                <wm-form-action key="reset" class="form-reset btn-secondary" iconclass="wi wi-refresh" action="reset()" display-name="Reset" show="true" type="button" update-mode="true"></wm-form-action>
                <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
            </wm-liveform>
        </wm-page-content>
    </wm-content>
</wm-page>