<wm-page data-ng-controller="MasterDataPageController" pagetitle="Master Data" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-label padding="unset 0.5em" name="label1" caption="Master Data" fontsize="-1" width="300" class="h1 h2"></wm-label>
            <wm-tabs name="tabs1">
                <wm-tabpane name="tabpane1" title="Programs">
                    <wm-grid editmode="inline" title="Program List" dataset="bind:Variables.PlanningManagerProgramData.dataSet" navigation="Basic" name="grid3">
                        <wm-grid-column binding="name" caption="Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                        <wm-grid-column binding="progCode" caption="Prog Code" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                        <wm-grid-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-grid-action>
                        <wm-grid-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-grid-row-action>
                        <wm-grid-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-grid-row-action>
                    </wm-grid>
                </wm-tabpane>
                <wm-tabpane name="tabpane2" title="Departments">
                    <wm-grid editmode="inline" title="Department List" dataset="bind:Variables.PlanningManagerDepartmentData.dataSet" navigation="Basic" name="grid1">
                        <wm-grid-column binding="name" caption="Name" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="code" caption="Code" type="string" primary-key="false" generator="assigned" mobiledisplay="false" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" sortable="false" searchable="false" show="true"></wm-grid-column>
                        <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-grid-action>
                        <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-grid-row-action>
                        <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-grid-row-action>
                    </wm-grid>
                </wm-tabpane>
                <wm-tabpane name="tabpane3" title="Job Types">
                    <wm-livegrid formlayout="dialog" name="livegrid2">
                        <wm-grid gridfirstrowselect="true" editmode="dialog" title="Job type List" dataset="bind:Variables.PlanningManagerJobTypeData.dataSet" navigation="Basic" name="grid6_1">
                            <wm-grid-column binding="id" caption="Id" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true" readonly="true"></wm-grid-column>
                            <wm-grid-column binding="name" caption="Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                            <wm-grid-column binding="manualSched" caption="Manual Scheduling" generator="assigned" pcdisplay="true" mobiledisplay="true" type="boolean"></wm-grid-column>
                            <wm-grid-column binding="assOper" caption="Assign Operator" generator="assigned" pcdisplay="true" mobiledisplay="true" type="boolean"></wm-grid-column>
                            <wm-grid-column binding="clustCrit" caption="Clustter Criterium" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                            <wm-grid-column binding="equipmentType.name" caption="Critical Equipment" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" related-entity-name="EquipmentType" readonly="true"></wm-grid-column>
                            <wm-grid-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-grid-action>
                            <wm-grid-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-grid-row-action>
                            <wm-grid-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-grid-row-action>
                        </wm-grid>
                        <wm-liveform errormessage="" title="Job type Info" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Variables.PlanningManagerJobTypeData.dataSet" captionalign="left" captionposition="top" name="liveform2">
                            <wm-layoutgrid columns="1" name="layoutgrid2">
                                <wm-gridrow name="gridrow6">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn6">
                                        <wm-form-field name="name" displayname="Name" show="true" primary-key="false" generator="assigned" key="name" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow7">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                                        <wm-form-field name="manualSched" displayname="Manual Scheduling" show="true" primary-key="false" generator="assigned" key="manualSched" type="boolean" readonly="false" required="false" widget="checkbox" placeholder=""></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow8">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                                        <wm-form-field name="assOper" displayname="Assign Operator" show="true" primary-key="false" generator="assigned" key="assOper" type="boolean" readonly="false" required="false" widget="checkbox" placeholder=""></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow9">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn9">
                                        <wm-form-field name="clustCrit" displayname="Cluster Criterium" show="true" primary-key="false" generator="assigned" key="clustCrit" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow10">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn10">
                                        <wm-form-field name="equipmentType" displayname="Critical Equipment" show="true" primary-key="false" generator="assigned" key="equipmentType" type="list" is-related="true" readonly="false" required="false" widget="select" placeholder="Select value" displayexpression="name"
                                        orderby="name:desc"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" disabled="false" type="button" update-mode="true"></wm-form-action>
                            <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
                        </wm-liveform>
                    </wm-livegrid>
                </wm-tabpane>
                <wm-tabpane name="tabpane4" title="Priorities">
                    <wm-grid editmode="inline" title="Priorities List" dataset="bind:Variables.PlanningManagerPrioritiesData.dataSet" navigation="Basic" name="grid2">
                        <wm-grid-column binding="prioNumb" caption="Priority Number" type="integer" primary-key="false" generator="assigned" mobiledisplay="false" edit-widget-type="number" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="prioName" caption="Name" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                        <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-grid-action>
                        <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-grid-row-action>
                        <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-grid-row-action>
                    </wm-grid>
                </wm-tabpane>
            </wm-tabs>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>