<wm-page data-ng-controller="EmployeeDetailsPageController" pagetitle="Employee Details" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-liveform errormessage="" title="Employee Info" iconclass="wi wi-edit" defaultmode="Edit" dataset="bind:Variables.PlanningManagerEmployeeData.dataSet" captionalign="left" captionposition="top" name="liveform1" formdata="bind:Variables.PlanningManagerEmployeeData.lastRecord"
            on-success="Variables.goToPage_Resources.invoke()">
                <wm-layoutgrid columns="1" name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                            <wm-form-field name="firstName" displayname="First Name" show="true" primary-key="false" generator="assigned" key="firstName" type="string" readonly="false" required="false" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                            <wm-form-field name="lastName" displayname="Last Name" show="true" primary-key="false" generator="assigned" key="lastName" type="string" readonly="false" required="false" widget="text" maxchars="100" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                            <wm-form-field name="emplNumb" displayname="Empl Numb" show="true" primary-key="false" generator="assigned" key="emplNumb" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                            <wm-form-field name="department" displayname="Department" show="true" primary-key="false" generator="assigned" key="department" type="list" is-related="true" readonly="false" required="false" widget="select" placeholder="Select value"
                            dataset="bind:Variables.DepartmentId.dataSet" datafield="All Fields" displayfield="name" defaultvalue="bind:Variables.DepartmentIds.firstRecord"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                            <wm-form-field name="userId" displayname="User Id" show="true" primary-key="false" generator="assigned" key="userId" type="string" readonly="false" required="false" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn6">
                            <wm-form-field name="userName" displayname="User Name" show="true" primary-key="false" generator="assigned" key="userName" type="string" readonly="false" required="false" widget="text" maxchars="100" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow7">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                            <wm-form-field name="userPassw" displayname="User Passw" show="true" primary-key="false" generator="assigned" key="userPassw" type="string" readonly="false" required="false" widget="text" maxchars="100" inputtype="password" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow8">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                            <wm-form-field name="userRole" displayname="User Role" show="true" primary-key="false" generator="assigned" key="userRole" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder=""></wm-form-field>
                <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" action="" display-name="Save" show="true" type="submit" update-mode="true" shortcutkey=""></wm-form-action>
            </wm-liveform>
        </wm-page-content>
    </wm-content>
</wm-page>