<wm-page data-ng-controller="ScheduleLinesPageController" pagetitle="Schedule Lines" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow1">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn1">
                        <wm-composite name="composite1">
                            <wm-label class="col-md-3 control-label" name="label1" caption="Template"></wm-label>
                            <wm-container class="col-md-9" name="container1">
                                <wm-select name="select1" dataset="bind:Variables.TemplSelect.dataSet" datafield="All Fields" displayfield="name" width="400"></wm-select>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn2"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow4">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn7"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn8"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow3">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn5">
                        <wm-composite name="composite3">
                            <wm-label class="col-md-3 control-label" name="label3" caption="Schedule"></wm-label>
                            <wm-container class="col-md-9" name="container3">
                                <wm-select name="select3" width="400"></wm-select>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn6">
                        <wm-composite name="composite4">
                            <wm-container class="col-md-9" name="container4">
                                <wm-label class="col-md-3 control-label" name="label4" caption="Schedule Status"></wm-label>
                                <wm-radioset height="auto" name="radioset1" dataset="Open, Closed" layout="inline"></wm-radioset>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow5">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn9"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn10">
                        <wm-button class="btn-default" caption="Generate Next Schedule" type="button" margin="unset 0.5em" name="button1" onclick="No Event" on-click="Variables.TemplateSelect.listRecords()"></wm-button>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-grid editmode="inline" title="Schedule Lines" dataset="bind:Variables.NewSchedule.dataSet.data[$i].schedTemplId" navigation="Basic" name="grid1">
                <wm-grid-column binding="templateLines.itemCode" caption="Item Code" type="string" width="100px" generator="assigned" readonly="true" edit-widget-type="text" show="true" related-entity-name="TemplateLines"></wm-grid-column>
                <wm-grid-column binding="templateLines.itemName" caption="Item Name" type="string" width="150px" generator="assigned" readonly="true" edit-widget-type="text" show="true" related-entity-name="TemplateLines"></wm-grid-column>
                <wm-grid-column binding="productionOrder.ordrCode" caption="Order" type="string" width="60px" primary-key="false" generator="assigned" readonly="true" edit-widget-type="text" show="true" related-entity-name="ProductionOrder"></wm-grid-column>
                <wm-grid-column binding="templateLines.jobStep" caption="Job Step" type="integer" width="50px" generator="assigned" readonly="true" edit-widget-type="number" show="true" related-entity-name="TemplateLines"></wm-grid-column>
                <wm-grid-column binding="j1D1" caption="Day 1" type="string" width="60px" primary-key="false" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="j1D2" caption="Day 2" type="string" width="60px" primary-key="false" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="j1D3" caption="Day 3" type="string" width="60px" primary-key="false" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="j1D4" caption="Day 4" type="string" width="60px" primary-key="false" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="j1D5" caption="Day 5" type="string" width="60px" primary-key="false" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-grid-action>
                <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-grid-row-action>
                <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-grid-row-action>
            </wm-grid>
            <wm-button class="btn-default align-right" caption="Close" type="button" margin="unset 0.5em" name="button3" backgroundposition="right" on-click="Variables.goToPage_Main.invoke()"></wm-button>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>