<wm-page data-ng-controller="ScheduleTemplateLinesPageController" pagetitle="Schedule Template Lines" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1" backgroundposition="right">
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow1">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn1" padding="10px unset 20px unset">
                        <wm-label class="col-md-3 control-label" name="label1" caption="Schedule Template"></wm-label>
                        <wm-select name="select1" width="400" dataset="bind:Variables.ScheduleTemplates.dataSet" datafield="All Fields" displayfield="name" on-change="Widgets.grid2.refreshData()" datavalue="bind:Variables.ScheduleTemplates.firstRecord"></wm-select>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn2"></wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-livegrid formlayout="dialog" name="livegrid2"></wm-livegrid>
            <wm-livegrid formlayout="dialog" name="livegrid2_1">
                <wm-grid gridfirstrowselect="true" editmode="dialog" title="Templatelines List" dataset="bind:Variables.PlanningManagerTemplateLinesData.dataSet" navigation="Basic" name="grid2">
                    <wm-grid-column binding="product.prodCode" caption="Prod Code" type="string" primary-key="false" generator="assigned" readonly="true" edit-widget-type="text" show="true" related-entity-name="Product"></wm-grid-column>
                    <wm-grid-column binding="product.name" caption="Product Name" type="string" primary-key="false" generator="assigned" readonly="true" edit-widget-type="text" show="true" related-entity-name="Product"></wm-grid-column>
                    <wm-grid-column binding="jobStep" caption="Job Step" type="integer" width="100px" generator="assigned" edit-widget-type="number" show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                    <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-grid-action>
                    <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-grid-row-action>
                    <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-grid-row-action>
                </wm-grid>
                <wm-liveform errormessage="" title="Templatelines Info" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Variables.PlanningManagerTemplateLinesData.dataSet" captionalign="left" captionposition="top" name="liveform2" formdata="bind:Widgets.grid2.selecteditem">
                    <wm-layoutgrid columns="1" name="layoutgrid3">
                        <wm-gridrow name="gridrow5">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn6">
                                <wm-form-field name="product" displayname="Product" show="true" primary-key="false" generator="assigned" key="product" type="list" is-related="true" readonly="false" required="false" widget="select" placeholder="Select value"
                                displayexpression="prodCode + ' ' + name" orderby="prodCode:desc"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow6">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                                <wm-form-field name="jobStep" displayname="Job Step" show="true" primary-key="false" generator="assigned" key="jobStep" type="integer" readonly="false" required="false" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow7">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                                <wm-form-field name="scheduleTemplate" displayname="Schedule Template" show="true" primary-key="false" generator="assigned" key="scheduleTemplate" type="list" is-related="true" readonly="false" required="false" widget="select"
                                placeholder="Select value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                    <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" disabled="false" type="button" update-mode="true"></wm-form-action>
                    <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livegrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>