<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-page-content columnwidth="12" name="mainContent" padding="unset 15px">
            <wm-layoutgrid name="layoutgrid3">
                <wm-gridrow name="gridrow4">
                    <wm-gridcolumn columnwidth="4" name="gridcolumn7">
                        <wm-tile width="240px" height="160px" class="bg-primary" name="tile4">
                            <wm-layoutgrid height="100%" name="layoutgrid6">
                                <wm-gridrow height="100%" name="gridrow8">
                                    <wm-gridcolumn columnwidth="3" horizontalalign="center" padding="2em unset unset unset" name="gridcolumn19">
                                        <wm-icon iconsize="3em" name="tileIcon" iconclass="wi wi-bar-chart"></wm-icon>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="9" padding="2em unset unset unset" horizontalalign="center" name="gridcolumn20">
                                        <wm-label name="tileTitle" caption="Disruptions" class="p" fontsize="1.5" fontunit="em"></wm-label>
                                        <wm-label name="tileStatLabel" caption="00" fontsize="3" fontunit="em" class="p"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-tile>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn18">
                        <wm-tile width="240px" height="160px" class="bg-primary" name="tile5">
                            <wm-layoutgrid height="100%" name="layoutgrid7">
                                <wm-gridrow height="100%" name="gridrow9">
                                    <wm-gridcolumn columnwidth="3" horizontalalign="center" padding="2em unset unset unset" name="gridcolumn21">
                                        <wm-icon iconsize="3em" name="tileIcon" iconclass="wi wi-bar-chart"></wm-icon>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="9" padding="2em unset unset unset" horizontalalign="center" name="gridcolumn22">
                                        <wm-label name="tileTitle" caption="Jobs to be scheduled" class="p" fontsize="1.5" fontunit="em"></wm-label>
                                        <wm-label name="tileStatLabel" caption="00" fontsize="3" fontunit="em" class="p"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-tile>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn8">
                        <wm-tile width="240px" height="160px" class="bg-primary" name="tile6">
                            <wm-layoutgrid height="100%" name="layoutgrid8">
                                <wm-gridrow height="100%" name="gridrow10">
                                    <wm-gridcolumn columnwidth="3" horizontalalign="center" padding="2em unset unset unset" name="gridcolumn23">
                                        <wm-icon iconsize="3em" name="tileIcon" iconclass="wi wi-bar-chart"></wm-icon>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="9" padding="2em unset unset unset" horizontalalign="center" name="gridcolumn24">
                                        <wm-label name="tileTitle" caption="NC's in process" class="p" fontsize="1.5" fontunit="em"></wm-label>
                                        <wm-label name="tileStatLabel" caption="00" fontsize="3" fontunit="em" class="p"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-tile>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow5">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn9"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn10"></wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-container name="container1"></wm-container>
            <wm-container name="container2">
                <wm-chart type="Column" title="Waiting Jobs" height="250px" iconclass="wi wi-bar-chart" name="chart1" xaxislabel="Department" barspacing="0.3" xunits="10" staggerlabels="true" viewtype="Stacked"></wm-chart>
            </wm-container>
            <wm-grid title="Department List" dataset="bind:Variables.PlanningManagerDepartmentData.dataSet" navigation="Basic" name="grid1">
                <wm-grid-column binding="name" caption="Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
            </wm-grid>
        </wm-page-content>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>