<wm-page data-ng-controller="ScheduleTemplatesPageController" pagetitle="Schedule Templates" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-livegrid formlayout="dialog" name="livegrid1">
                <wm-grid gridfirstrowselect="true" editmode="dialog" title="Schedule template List" dataset="bind:Variables.PlanningManagerScheduleTemplateData.dataSet" navigation="Basic" name="grid2_1">
                    <wm-grid-column binding="name" caption="Template Name" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="program.name" caption="Program" type="string" generator="assigned" readonly="true" edit-widget-type="text" show="true" related-entity-name="Program"></wm-grid-column>
                    <wm-grid-column binding="wrkDays" caption="Number of Working Days" type="integer" generator="assigned" edit-widget-type="number" show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="employee.userName" caption="Planner" type="string" generator="assigned" readonly="true" edit-widget-type="text" show="true" related-entity-name="Employee"></wm-grid-column>
                    <wm-grid-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                    <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-grid-action>
                    <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-grid-row-action>
                    <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-grid-row-action>
                </wm-grid>
                <wm-liveform errormessage="" title="Schedule template Info" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Variables.PlanningManagerScheduleTemplateData.dataSet" captionalign="left" captionposition="top" name="liveform1">
                    <wm-layoutgrid columns="2" name="layoutgrid1">
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn1">
                                <wm-form-field name="name" displayname="Template Name" show="true" primary-key="false" generator="assigned" key="name" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn2">
                                <wm-form-field name="wrkDays" displayname="Number of Working Days" show="true" primary-key="false" generator="assigned" key="wrkDays" type="integer" readonly="false" required="false" step="0" widget="number" inputtype="number"
                                placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow2">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn3">
                                <wm-form-field name="program" displayname="Program" show="true" primary-key="false" generator="assigned" key="program" type="list" is-related="true" readonly="false" required="false" widget="select" placeholder="Select value"
                                displayexpression="name" orderby="name:desc"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn4">
                                <wm-form-field name="employee" displayname="Planner" show="true" primary-key="false" generator="assigned" key="employee" type="list" is-related="true" readonly="false" required="false" widget="select" placeholder="Select value"
                                displayexpression="userName" orderby="userName:desc"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow3">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn5">
                                <wm-form-field name="jobTypeByJobTp2Id" displayname="Job Type 1" show="true" primary-key="false" generator="assigned" key="jobTypeByJobTp2Id" type="list" is-related="true" readonly="false" required="false" widget="select" placeholder="Select value"
                                displayexpression="name" orderby="name:desc"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn6">
                                <wm-form-field name="jobTypeByJobTp1Id" displayname="Job Type 2" show="true" primary-key="false" generator="assigned" key="jobTypeByJobTp1Id" type="list" is-related="true" readonly="false" required="false" widget="select" placeholder="Select value"
                                displayexpression="name" orderby="name:desc"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow4">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn7">
                                <wm-form-field name="tp1Sched" displayname="Scheduling Job 1" show="true" primary-key="false" generator="assigned" key="tp1Sched" type="boolean" readonly="false" required="false" widget="checkbox" placeholder=""></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn8">
                                <wm-form-field name="tp2Sched" displayname="Scheduling Job 2" show="true" primary-key="false" generator="assigned" key="tp2Sched" type="boolean" readonly="false" required="false" widget="checkbox" placeholder=""></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow5">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn9">
                                <wm-form-field name="tp1Cap" displayname="Capacity Check Job 1" show="true" primary-key="false" generator="assigned" key="tp1Cap" type="boolean" readonly="false" required="false" widget="checkbox" placeholder=""></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn10">
                                <wm-form-field name="tp2Cap" displayname="Capacity Check Job 2" show="true" primary-key="false" generator="assigned" key="tp2Cap" type="boolean" readonly="false" required="false" widget="checkbox" placeholder=""></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                    <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" disabled="false" type="button" update-mode="true"></wm-form-action>
                    <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livegrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>